<h1>Editing deal</h1>

<%= render "form", real_estate_deal: @real_estate_deal %>

<br>

<div>
  <%= link_to "Show this deal", @real_estate_deal %> |
  <%= link_to "Back to deals", real_estate_deals_path %>
</div>
